@font-face {
  font-family: "DIN";
  src:url("../type/DINMittelschriftStd.otf");
}

html {
  height: 100%;
}

body {
  background-color: white;
  height: 100%;
  font-family: "DIN";
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 99;
  padding: 3vh 0;
  font-size: 0.75rem;
}

header h1 {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-family: 'DIN';
}

#title {
  font-size: 4rem;
  font-size: 2rem;
  font-family: Helvetica;
  /* margin-top: 5%;
  margin-left: 5%; */
  left: 5%;
  bottom: 25%;
  position: absolute;
}

#project-bio-container {
  position: absolute;
  /* border: 1px solid red; */
  /* margin-top: 10%;
  margin-left: 5%;
  margin-right: 70%; */
  top: 78%;
  /* bottom: 10%; */
  right: 70%;
  left: 5%;
  font-family: Helvetica;
}

#theImg {
  position: absolute;
  top: 8%;
  left: 1%;
  width: 50%;
}

#yumeImg {
  position: absolute;
  top: 8%;
  left: 5%;
  width: 30%;
}

#randomLocation {
  padding-top: 20%;
  right: 20%;
  padding-bottom: 20%;
  left: 90%;
}

.about-btn {
  position: fixed;
  left: 5%;
  /* font-family: "DIN"; */
}

.contact-btn {
  position: fixed;
  right: 5%;
  /* font-family: "DIN"; */
}

.work-images {
  position: absolute;
  height: 100%;
  width: auto;
}

/* work */

.rockgif1 {
  position: absolute;
  margin-top: 25%;
  margin-left: 60%;
  width: 20%;
}

.rockgif2 {
  position: absolute;
  margin-top: 5%;
  margin-left: 80%;
  width: 10%;
}

.incahoots {
  position: absolute;
  margin-top: 25%;
  margin-left: 60%;
  width: 30%;
}

.preload1 {
  position: absolute;
  margin-top: 30%;
  margin-left: 55%;
  width: 30%;
}

.yume {
  position: absolute;
  margin-top: 30%;
  margin-left: 45%;
  width: 30%;
}

.yume2 {
  position: absolute;
  margin-top: 10%;
  margin-left: 75%;
  width: 10%;
}

a {
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.jpn {
  width: 20%;
}

.content {
  display: flex;
  position: absolute;
  top: 0;
}

.website {
  height: 30%;
}

.work {
  height: 40%;
}

 #top-block {
  position: relative;
}

.container {
  position: relative;
  /* border: 1px red solid; */
  height: 100%;
}

.sites {
  width: 30%;
  height: auto;
}

.container img {
  position: absolute;
}

image {
  top: 100px;
}

#work2 {
  grid-column: span 8;
}

ul {
  z-index: 100;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 8%;
  opacity: 0.5;
  text-align: left;
  transform: translate(-50%, -50%);
  font-family: helvetica;
}

.title {
  font-size: 16px;
  padding-left: 5%;
  padding-top: 5%;
  font-size: 40px;
  color: black;
}

.bio-container {
  left: 5%;
  top: 15%;
  right: 70%;
  position: fixed;
  font-family: Helvetica;
  line-height: 1.4;
}

.bio {
  font-size: 4rem;
}

.project-title {
  font-size: 2rem;
  font-family: Helvetica;
  margin-top: 5%;
  margin-left: 5%;
  position: absolute;
}


.project-bio {
  position: relative;
}

/* .lee {
  left: 50%;
  top: 50%;
  position: absolute;
} */

.contact {
  margin-left: 5%;
  margin-top: 5%;
  font-size: 2rem;
}

@media screen and (max-width: 400px) {
  header h1 {
    font-size: 4rem;
  }
  .bio {
    font-size: 50px;
    text-align: left;
  }
  .content {
    flex-direction: column;
  }
  .rockgif {
    width: 80%;
  }
}
